@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';



@keyframes ballot {
  0% {opacity: 0; transform: translateY(-15px)}
  20% {opacity: 1; transform: translateY(0)}
  100% {opacity: 1; transform: translateY(45px)}
}
.loader ul {
  margin: 0 0 10px 0;
  padding: 4px;
  list-style: none;
  width: 80px;
  text-align: center;
  animation: ballot 1.5s infinite ease-in;
  animation-fill-mode: forwards;
}
.loader li {
  display: inline-block;
  background: #6AAD75;
  height: 50px;
  width: 40px;
  border-radius: 6%;
}
.loader li:after {
  content: "";
  position: absolute;
  top: 28px;
  left: 33px;
  background: #007F00;
  width: 22px;
  height: 4px;
  transform: rotate(130deg);
  border-radius: 8%;
}
.loader li:before {
  content: "";
  position: absolute;
  top: 31px;
  left: 27px;
  background: #007F00;
  width: 13px;
  height: 4px;
  transform: rotate(45deg);
  border-radius: 8%;
}
.ballotbox {
  background: #007F00;
  width: 90px;
  height: 10px;
  border-radius: 8%;
  position: relative;
}

.loader span {
  content: "";
  position: absolute;
  top: 9px;
  left: 5px;
  background: #6AAD75;
  width: 80px;
  height: 20px;
  border-radius: 8%;
}

.form-inp {
  padding: 11px;
  /* border: 1px solid #e3e3e3; */
  line-height: 1;
  border-radius: 8px;
}

.form-inp:focus {
  border: 1px solid #00FF7F;
}

.form-inp:first-child {
  margin-bottom: 15px;
}

.form-inp input {
  width: 100%;
  font-size: 13.4px;
  color: #00FF7F;
  border: none;
  padding: 0;
  margin: 0;
}

.form-inp input:focus {
  outline: none;
}

/* Scrollbar Styles */
::-webkit-scrollbar {
  width: 4px;
  /* Set the width of the scrollbar */
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #007F00;
  /* Set the color of the scrollbar thumb */
  border-radius: 4px;
  /* Optional: Round the corners of the thumb */
}

::-webkit-scrollbar-track {
  background-color: #a4eaaf;
  /* Set the color of the scrollbar track */
  border-radius: 4px;
}


.bg-selected {
  background-color: #81e6d9;
  /* You can adjust the color */
}