@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


:root {
    /* COLORS */
    --BGCOLOR: #0F172A;
    --BORDER-COLOR: #FFF;
    --COLOR: #FFF;
    --ERROR: firebrick;
    --INACTIVE: lightgray;
    --LINK-COLOR: whitesmoke;
    --LINK-HOVER: rgba(245, 245, 245, 0.9);
    --NOTE-BGCOLOR: hsla(240, 64%, 27%, 0.65);
    --STATUS-COMPLETE: limegreen;
    --STATUS-OPEN: firebrick;
    --TABLE-BGCOLOR: #FFF;
    --TABLE-COLOR: #000;
    --INPUT-INVALID: #F00;
}

.form-inp {
    padding: 11px;
    /* border: 1px solid #e3e3e3; */
    line-height: 1;
    border-radius: 8px;
}

.form-inp:focus {
    border: 1px solid #00FF7F;
}

.form-inp:first-child {
    margin-bottom: 15px;
}

.form-inp input {
    width: 100%;
    font-size: 13.4px;
    color: #00FF7F;
    border: none;
    padding: 0;
    margin: 0;
}

.form-inp input:focus {
    outline: none;
}

.errmsg {
    display: inline-block;
    background-color: var(--TABLE-BGCOLOR);
    color: var(--ERROR);
    padding: 0.25em;
    margin-bottom: 0.5em;
}

.errmsg a:any-link {
    color: var(--ERROR);
    text-decoration: underline;
}
